   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/04/2023
      Filename: about.ejs
   -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="allPage">
    <%- include('partials/banner') %>
    <%- include('partials/navbar') %>
    <h1><%= title %></h1>
    <main>
    <figure>
      <img id="myPhoto" src="images/me.jpg" alt="Kam Fai Ma" width="100%">
      <figcaption>Kam Fai, Ma</figcaption>
    </figure>
    <div class="cen">
    <p>Student in 3rd semester of the Software Engineering Technician program at Centennial College.</p> 
    <p>With a background as a pharmacist in Hong Kong for over 8 years, I have a strong desire to apply my software engineering knowledge to the medical field. </p>
    </div>
    <div class="buttonContainer">
      <button id="buttonResume"><a href="resume.pdf">Resume</a></button>
    </div>
    </main>
  </div>
  <%- include('partials/footer') %>
  </body>
</html>