   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/17/2023
      Filename: business_contact.ejs
   -->
   <!DOCTYPE html>
   <html>
     <head>
       <title><%= title %></title>
       <link rel='stylesheet' href='/stylesheets/style.css' />
     </head>
     <body>
       <div id="allPage">
       <%- include('partials/banner') %>
       <%- include('partials/navbar') %>
       <h1><%= title %></h1>
       <main>
       </main>
     </div>
     <%- include('partials/footer') %>
     </body>
   </html>