   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/17/2023
      Filename: business_contact.ejs
   -->
   <!DOCTYPE html>
   <html>
     <head>
       <title><%= title %></title>
       <link rel='stylesheet' href='/stylesheets/style.css' />
     </head>
     <body>
       <div id="allPage">
       <%- include('partials/banner') %>
       <%- include('partials/navbar') %>
       <h1><%= title %></h1>
       <main>
        <table>
          <thead>
          <tr>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0;i<contacts.length;i++) {%>
            <tr>
              <td><%= contacts[i].name%></td>
              <td><%= contacts[i].email%></td>
              <td><%= contacts[i].contact_number%></td>
              <td><img id="edit" src="images/edit.png" alt="Edit" width="10%"></td>
              <td><a href="/business_contact/delete/<%=contacts[i]._id%>"><img id="delete" src="images/delete.png" alt="Delete" width="10%"></a></td>
            </tr>
            <% }%>
        </tbody>
        </table>
       </main>
     </div>
     <%- include('partials/footer') %>
     </body>
   </html>