   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/17/2023
      Filename: business_contact.ejs
   -->
   <!DOCTYPE html>
   <html>
     <head>
       <title><%= title %></title>
       <link rel='stylesheet' href='/stylesheets/style.css' />
     </head>
     <body>
       <div id="allPage">
       <%- include('partials/banner') %>
       <%- include('partials/navbar') %>
       <h1><%= title %></h1>
       <main>
        <table>
          <tr>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Contact Number</th>
          </tr>
            <% for(let count=0;count<business_contactList.length ;count++){ %>
              <tr>
                <td><% business_contactList[count].name %></td>
                <td><% business_contactList[count].email %></td>
                <td><% business_contactList[count].contact_number %></td>
              </tr>
              <% } %>
        </table>
       </main>
     </div>
     <%- include('partials/footer') %>
     </body>
   </html>