   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/04/2023
      Filename: contact.ejs
   -->
    <%- include('partials/header') %>
    <%- include('partials/banner') %>
    <%- include('partials/navbar') %>
    <h1><%= title %></h1>
    <h1>Contact Me</h1>
    <main>
    <p><img src="images/phone.png" alt="phone" width="5%"> 647-897-1011</p>
    <p><img src="images/email.png" alt="email" width="5%"> kma52@my.centennialcollege.ca</p>
    <form action="/" method="get">
        <fieldset>
            <legend>Your Information</legend>
            <p>
                <label for="fName">First Name: </label>
                <input id="fName" name="fName" size="25" type="text" required="required" tabindex="1">
            </p>
            <p>
                <label for="lName">Last name: </label>
                <input id="lName" name="lName" size="25" type="text" required="required" tabindex="3">
            </p>
            <p>
                <label for="phone">Phone number: </label>
                <input id="phone" name="phone" size="25" type="tel" required="required" tabindex="5">
            </p>
            <p>
                <label for="email">Email: </label>
                <input id="email" name="email" size="25" type="email" required="required" tabindex="7">
            </p>

            <label for="comments">Your messgae: </label>
            <textarea id="comments" name="comments" cols="50" rows="8" tabindex="9"></textarea>
        </fieldset>
        <p class="flex-parent">
            <div class="buttonContainer">
            <input class="button" name="btmSend" type="submit" value="Send" tabindex="11">
            <input class="button" name="btnReset" type="reset" value="Clear Form" tabindex="13">
        </div>
        </p>
    </form>
</main>
<%- include('partials/footer') %>