   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/04/2023
      Filename: index.ejs
   -->
    <%- include('partials/header') %>
    <%- include('partials/banner') %>
    <%- include('partials/navbar') %>
    <h1><%= title %></h1>
    <main>
    <div class="cen">
    <p class="sub">Welcome to Kam Fai, Ma's portfolio webpage!  </p>
    <p>Explore my portfolio to see how my diverse background and software engineering expertise come together to create innovative solutions for healthcare. </p>
    <div class="buttonContainer"><button id="buttonAbout"><a href="about">About Me</a></button></div>
    <p class="sub">Mission Statement</p>
    <p>Witnessing the potential of technology in revolutionizing healthcare during my pharmacy career, I'm passionate about bridging the gap between these two domains.</p>
  </div>
    </main>
  <%- include('partials/footer') %>
