  <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/17/2023
      Filename: login.ejs
   -->
    <%- include('partials/header') %>
       <%- include('partials/banner') %>
       <%- include('partials/navbar') %>
       <h1><%= title %></h1>
       <main>
        <form action="/login" method="POST" autocomplete="off">
          <fieldset>
            <p>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required>
          </p>
          <p>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required>
          </p>
          <p id="logInMessage"><%= logInMessage%></p>
          <p>
            <div class="buttonContainer">
            <button class="button" class="button" type="submit">Login</button>
            <button class="button" class="button" ><a href="/register">Register</a></button>
          </div>
          </p>
          </form>
       </main>
     <%- include('partials/footer') %>