<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="allPage">
    <%- include('partials/banner') %>
    <%- include('partials/navbar') %>
    <h1><%= title %></h1>
    <main>
    <p>Welcome to <%= title %></p>
    </main>
  </div>
  </body>
</html>