   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/17/2023
      Filename: login.ejs
   -->
    <%- include('partials/header') %>
       <%- include('partials/banner') %>
       <%- include('partials/navbar') %>
       <h1><%= title %></h1>
       <main>
        <form action="/register" method="POST">
          <fieldset>
            <p>
              <label for="name">Name</label>
              <input type="text" id="name" name="name" autocomplete="off" required>
          </p>
          <p>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" autocomplete="off" required>
        </p>
          <p>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" autocomplete="off" required>
          </p>
          <p id="regMessage"><%= regMessage%></p>
          <p>
            <div class="buttonContainer">
            <button class="button" type="submit" value="Register">Register</button>
            <button class="button" ><a href="/login">Cancel</a></button>
            <div class="buttonContainer"></div>
          </p>
          </form>
       </main>
     <%- include('partials/footer') %>