   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/17/2023
      Filename: login.ejs
   -->
   <!DOCTYPE html>
   <html>
     <head>
       <title><%= title %></title>
       <link rel='stylesheet' href='/stylesheets/style.css' />
     </head>
     <body>
       <div id="allPage">
       <%- include('partials/banner') %>
       <%- include('partials/navbar') %>
       <h1><%= title %></h1>
       <main>
        <form action="/register" method="POST">
          <fieldset>
            <p>
            <label for="name">User Name</label>
            <input type="text" id="name" name="name" required>
          </p>
          <p>
            <label for="email">Password</label>
            <input type="email" id="email" name="email" required>
        </p>
          <p>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required>
          </p>
          <p>
            <button class="button" type="submit">Register</button>
          </p>
          </form>
          <button class="button" ><a href="/login">Login</a></button>
       </main>
     </div>
     <%- include('partials/footer') %>
     </body>
   </html>