   <!--
      Author: Kam Fai, Ma
      Student ID: 301276248
      Date:   06/04/2023
      Filename: services.ejs
   -->
   <%- include('partials/header') %>
    <%- include('partials/banner') %>
    <%- include('partials/navbar') %>
    <h1><%= title %></h1>
    <main>
      <table>
        <thead>
          <th>Service</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <td><img src="images/frontend.png" width ="250"></td>
            <td>Front-End Design<br>
              <ul>
                <li>CSS</li>
                <li>EXPRESS.JS</li>
                <li>HTML</li>
                <li>JAVASCRIPT</li>
                <li>JQUERY</li>
                <li>NODE.JS</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><img src="images/backend.png" width ="250"></td>
            <td>Back-End Design<br>
              <ul>
                <li>C#</li>
                <li>C</li>
                <li>JAVASCRIPT</li>
                <li>JAVA</li>
                <li>PYTHON</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><img src="images/database.png" width ="250"></td>
            <td>Database Management<br>
              <ul>
                <li>ORACLE SQL</li>
                <li>MONGODB</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  <%- include('partials/footer') %>